<%- include("includes/head.ejs") %>
<body>
    <h1>This is the home page</h1>
    <h3><%= 3+2 %></h3>
    <h3><%= "apnacollege".toUpperCase() %></h3>
    <h3><%= ["Hello", "Bonjor" ,"Namaste"][1] %></h3>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, earum ipsa sunt fuga saepe, culpa natus maxime voluptatibus blanditiis, iure iusto animi corrupti. Expedita tempore optio itaque iure exercitationem vel incidunt tempora est fuga autem, dicta a et fugiat corporis esse, sequi ut deleniti ipsa numquam. Sed exercitationem incidunt itaque!
    </p>
    <button>click me!</button>
</body>
</html>